<div appStandOut appDragPositionMemory cdkDrag cdkDragBoundary="#machine" id="memory" class="d-inline-flex draggable">
  <div class="content d-block">
    <div class="header d-flex" cdkDragHandle>
      <mat-icon class="align-middle">memory</mat-icon>
      <span class="align-middle ml-1">Memory</span>
    </div>
    <div class="body">
      <table>
        <thead>
        <tr>
          <th></th>
          <th *ngFor="let x of sqrtArray" class="entry head">
            {{x | base:16 | uppercase}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let x of sqrtArray; let i = index">
          <td class="entry head head-v"><b>{{x | base:16 | uppercase}}</b></td>
          <td *ngFor="let _ of sqrtArray; let j = index" [ngClass]="{active: cpu.getPc() === addressAt(i, j)}"
              class="entry">
            {{memory.getBuffer()[addressAt(i, j)] | base | pad}}
          </td>
        </tr>
        </tbody>
      </table>
      <div class="mt-2 text-right">Read: {{memory.getAccess().read}} | Write: {{memory.getAccess().write}}</div>
    </div>
  </div>
</div>
